.imagen{
    width: auto;
    border-radius: 40px;
    height: 60vh;
    margin: 1em;
}

.eslogan{
    
    font-weight: bold;
    font-size: 2em;
    margin-right: 2em;
}
.titulo{
    font-size:4em;
    margin: .5em;
}
.contenedorE{
    
    width: 100%;
    display: flex;
    justify-content: end;
    
}
.conteTitulo{
    
    
}
.conteTitulo, .conteImg{
    width: 50%;
}
.conteImg{
    display: flex;
    justify-content: end;
}
.contenedor{
    display: flex;
}
.boton{
    background-color: #15CD69;
    padding: .5em;
    font-weight: bold;
    border: none;
    width: 8em;
    border-radius: 10px;
    margin: 1.5em;
    cursor: pointer;

    /* Transición suave de color */
    transition: background-color 0.3s ease;
}
.boton:hover{
    background-color: #29754b;
   
}
.boton:active{
    
    transform: scale(0.95); /* Reduce ligeramente el tamaño del botón cuando es presionado */
}
.social{
    margin-left: 1em;
    
}